*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}
body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(253,29,29,1) 20%, rgba(252,176,69,1) 100%);
}

/**/
button{
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

button:hover{
    background-color: #102f5e;
    color: #FFF;
}

button:hover > i{
    color: #FFF;
}

button i{
    color: #102f5e;
    font-weight: bold;
    pointer-events: none;
}

input, select{
    padding: 0.25rem 0.5rem;

}

/*************/

.form-signin{
    max-width: 450px;
    margin: 3rem auto 0;
    background-color: #fdfdfd;
    padding: 1.5rem;
    border-radius: 15px;
}

.form-signin h1{
    text-align: center;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid #ccc;
    color: #102f5e;
}

.login-camp{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.email-camp:hover{
    border: 2px solid #1655b3;
    border-radius: 8px;
}
.email-camp {
    margin: 5px;
}

.login-camp input{
    height: 40px;
    width: 280px;
    border: none;
    box-shadow: .5px .5px rgb(199, 199, 199);
    border-radius: 8px;
    transition: 0.8s;
    font-style: bold;
}
.password-camp:hover{
    border: 2px solid #1655b3;
    border-radius: 8px;
}

.checkbox{
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
}

#buttonSignIn{
    border-style:none;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #102f5e;
    color: white;
    border-radius: 7px;
}
